.idea
/cifar-100-python/
/ModelCheckpoints/
/test_images/
/ImgClassNN_*
/modules/__pycache__
checkpoint
cifar-100-fine_label_names.txt
ImgClassNN_0.1.index
ImgClassNN_0.1.data-00001-of-00002
ImgClassNN_0.1.data-00002-of-00002
model_cifar_0.2.data-00000-of-00002
model_cifar_0.2.data-00001-of-00002
model_cifar_0.2.index
darknet53.weights
yolov3_320.weights
yolov3_416.weights
yolov3.weights